// RESET VALUES MIXIN
=reset
	html,
	body,
	ul,
	ol
		margin: 0
		padding: 0

// TRANSFORM MIXIN
=transform($property)
	-webkit-transform: $property
	-ms-transform: $property
	transform: $property

// MEDIAQUERIE MIXIN
=mq($type,$value)
	@media(#{$type}-width: #{$value}px)
		@content
// BROWSER KITS
=kit($property,$value)
    -webkit-'#{$property}': '#{$value}'
    -moz-'#{$property}': '#{$value}'
    -ms-'#{$property}': '#{$value}'
    -o-'#{$property}': '#{$value}'
    '{$property}': '#{$value}'

// WEBFONT/FONTFACE MIXIN
=ff($family,$path,$format)
    @font-face
        font-family: '#{$family}'
        src: url('#{$path}') format('#{$format}')
